##### Workflow
guildai

##### Dev
black
flake8

##### Core scientific
numpy
pandas
scipy

##### Modelling
scikit-learn>=1.2
statsmodels
joblib

#### Visualisation
matplotlib

#### AWS
boto3
sagemaker
awswrangler
sagemaker-training
sagemaker[local]
aws-cdk-lib==2.73.0
constructs>=10.0.0

#### Model serving
sagemaker-inference

#### Data
fsspec
s3fs
