##### Workflow
guildai

##### Dev
black
flake8

##### Core scientific
numpy
pandas
scipy

##### Modelling
scikit-learn>=1.2
statsmodels
torch
skorch
joblib

#### Visualisation
matplotlib

#### AWS
boto3
sagemaker==2.156.0
awswrangler
aws-cdk-lib==2.73.0
constructs>=10.0.0

#### Model serving
flask

#### Data
fsspec
s3fs
